language: node_js

node_js:
  - node

addons:
  apt:
    packages:
      - libgconf-2-4

cache:
  npm: true
  directories:
    - ~/.cache

install:
  - npm ci --legacy-peer-deps

script:
  - npm test
  - $(npm bin)/cypress run --record
  - npm run build

deploy:
  provider: firebase
  skip_cleanup: true
  token:
    secure: kOGJEkmbNJ2gHaAVprBCUlv5b3BdXE+ZpfUaQnamq93N+jB8hUAJ37jdcbx3/ziRNYFGH8P20ThGgTOj3pR+K6UkKpJAbmqe81PrVplxnJvHd8CUub/8mScnlv28T1jnkv0LIMB058YBwnel3aMNdEsMOn3/Nupz4aJU0/LKStwWmLYDhT0zPJQgKkCK0Uui5wIFcjvcOAn7ExCzFQVGtxBl/n+vPTbo4VqqEozgWO+0TngZNHWR/+h0yVkc3pNXgR0XiAgSkvUlQECj46koISxRAh6gN2cZ/AcVgEDe1//JY2T1OLL0fSMBieGlYe2EpuphItUB+Im7imn77t0nIozBJ7AqoeI0UD7JRiY0xb9K6uvab7AkygMZzPSkJlutLq23yDfWjRD9ZpwLqLtl6Aze3aiJDzsCCrP0aMwV41ck0wOU3N6VbDAATCdifhy8D9wzp8qX2KHCjoL7fxUItms3th8rZkoH8X2F9hH0rZj6qUae93Pyv+jVSKqleoxBpaLboVZgyj72Rm2khwHU+7DDvfKKUNxLB5dv1gGlbxY5vKjfJckWzfSgMQ+jqxUTt6ArnV7zcQ4FI9wIlX6e/FkA4v5otHqfu6gLuKwMfHCg4Sy1UcjqLDcsCJwRE7JM1d6a+Mr5cBQRBgI/qTuy6zNd3Ie+ljYaRYwgqs6v9Lc=
