@import "~@blueprintjs/popover2/lib/css/blueprint-popover2.css";

@import "mixins.scss";

html,
body,
.mosaic {
  margin: 0;
}

.mosaic {
  // TODO
  // width: 100%;
  // height: calc(100% - 50px);
  // position: fixed;
}

.not-supported-screen-size {
  // @include absolute-centering;

  .bp3-dark & {
    background-color: #202b33;
  }
}

.bp3-menu-item {
  &-label {
    margin-top: -2.25px;
    margin-bottom: -2.25px;
  }
}
