.error-screen {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  text-align: center;
  width: 100%;

  > * {
    padding: 2px 0;
  }

  h5 {
    opacity: 0.75;
  }
}
