html,
body,
.mosaic {
  margin: 0;
}

html,
body,
#root {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.navbar,
.not-supported-screen-size {
  padding-left: calc(15px + env(safe-area-inset-left));
  padding-right: calc(15px + env(safe-area-inset-right));
}

.not-supported-screen-size {
  background-color: #a7b6c2;
  padding-bottom: env(safe-area-inset-bottom);

  .bp4-dark & {
    background-color: #202b33;
  }
}

.bp4-menu-item {
  &-label {
    margin-top: -2.25px;
    margin-bottom: -2.25px;
  }
}
