@import "mixins.scss";

html,
body,
.mosaic {
  margin: 0;
}

.mosaic {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
}

.device-not-supported {
  @include absolute-centering;
}

#page {
  .device-not-supported {
    display: none;

    @media (max-width: 860px) {
      display: flex;
    }
  }

  .desktop-layout {
    @media (max-width: 860px) {
      display: none;
    }
  }
}
