html,
body,
#app {
  margin: 0;
}

#app {
  width: 100%;
  height: calc(100% - 50px);
  position: fixed;
}

.logo {
  width: 50px;
  height: 50px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.bp3-dark .octocat {
  filter: invert(100);
}
