html,
body,
#app {
  height: calc(100% - 50px);
  width: 100%;
  margin: 0;
  position: fixed;
}

// @media (max-width: 760px) {
//   body {
//     display: none;
//   }
// }

.logo {
  width: 50px;
  height: 50px;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}
